.search-result{
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}

.fullscreen-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 780px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    padding: 25px 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 1);
}