.search-result{
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}

.fullscreen-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-top: 100px;
}

.back-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    padding: 25px 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}


.back-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.chord-name {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-55%);
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #333333, #B0B0B0);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
